@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model friends.Models.Friend
@{
    ViewData["Title"] = "Friend";
}

<h1>Insert a Friend</h1>

<fieldset>

    <form asp-action="Create" asp-controller="Friend">

        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>


        <p>
            <label asp-for="FriendId"></label>
            <input asp-for="FriendId" class="form-control" placeholder="" />
            <span asp-validation-for="FriendId"></span>
        </p>

        <p>
            <label asp-for="FriendName"></label>
            <input asp-for="FriendName" class="form-control" placeholder="">
            <span asp-validation-for="FriendName"></span>
        </p>
        <p>
            <label asp-for="Place"></label>
            <input asp-for="Place" class="form-control" placeholder="">
            <span asp-validation-for="Place"></span>
        </p>

        <p>
            <button type="submit">Submit</button>
            <button type="reset">Back</button>
        </p>

    </form>

</fieldset>
