@model IEnumerable<friends.Models.Friend>
@{
}

<h1>View Friends</h1>

<div class="friends">
    <table border="1">
        <tr>
            <th>FriendId</th>
            <th>FriendName</th>
            <th>Place</th>
        </tr>

        @foreach (var friend in Model)
        {
            <tr>
                <td>@friend.FriendId</td>
            
                <td>@friend.FriendName</td>
            
                <td>@friend.Place</td>
            </tr>

            
        }
    </table>
</div>