@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Insert</title>
</head>
<body>
    <form id="frmDetail" method="post">
        Enter FriendId:<input name="friendid" />
        <br />
        Enter FriendName:<input name="friendname" />
        <br />
        Enter Place:<input name="place" />
        <br />
        <input type="submit" value="Submit" name="action" />
        <input type="submit" value="Cancel" name="action" />
    </form>
</body>
</html> 