@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>View <a href="@Url.Action("Index", "Friend")">Friends </a></p>
        <p>Insert a <a href="@Url.Action("Create", "Friend")">Friend </a></p>
        <p>Update a <a href="@Url.Action("Update", "Friend")">Friend </a></p>
        <p>Delete a <a href="@Url.Action("Delete", "Friend")">Friend </a></p>

    </div>
